<!DOCTYPE html>

<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document </title>
</head>


<body>
    <div class="part part1">
        <p><img class="image image1" src="user.png" alt=""> Lorem ipsum dolor sit amet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium. consectetur adipisicing elit. Commodi.</p>
    </div>
    <div class="part part2">
        <p><img class="image image2" src="user.png" alt="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum.</p>
    </div>
    <div class="part part3">
        <p><img class="image image3" src="user.png" alt="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</p>
    </div>
    <div class="part part4">
        <p><img class="image image4" src="user.png" alt="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</p>
    </div>
    <div class="part part5">
        <p><img class="image image5" src="user.png" alt="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</p>
    </div>
    <div class="part part6">
        <p><img class="image image6" src="user.png" alt="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</p>
    </div>
</body>

</html>